<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>小说简介站</title>
        <style>
                html,body {margin:0;padding:0;
                }
                #mainContainer {
                    height:100%;
                    width:100%;
                }
                #head {
                    height:20%;
                    width:100%;
                }
                #body {
                    height: 80%;
                    width: 100%;
                }
            </style>
    </head>
    <body>
        <div id="mainContainer">
            <div id="head">
                <div align="center">小说简介网站</div>
                <br/>
                <div class="details">
                    <a href="">首页推荐</a>
                    <a href="">作品查询</a>
                    <a href="">作品排行</a>
                </div>
            </div>
            <hr/>
            <div id="body">
                <table border=1>
                    {% for each in result %}
                        {% for key, value in each.items() %}
                            <tr>
                               <td> {{ key }} </td>
                               <td> {{ value }} </td>
                            </tr>
                         {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>