<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>小说简介站</title>
        <style>
            html,body {margin:0;padding:0;
            }
            #header {
                height:20%;
                width:100%;
            }
            #content {
                height: 80%;
                width: 100%;
            }
        </style>
    </head>
    <body>
     <iframe id="header" name="header" frameborder="0" src="header.html"></iframe>
     <iframe id="content" name="content" frameborder="0" src="recommend.html"></iframe>
    </body>
</html>